
                <div class="resume-footer text-center">

                    <ul class="resume-social-list list-inline mx-auto mb-0 d-inline-block text-muted">
                        {{ range .Site.Params.social.list }}
                        <li class="list-inline-item mb-lg-0 mr-3">
                            <a class="resume-link" href="{{ .url }}" target="_blank">
                                <i class="{{ .icon }} fa-2x mr-2" data-fa-transform="down-4"></i>
                                <span class="d-none d-lg-inline-block text-muted">{{ .title }}</span>
                            </a>
                        </li>
                        {{ end }}
                    </ul>
                    <div class="resume-social-list list-inline mx-auto mb-0 d-inline-block text-muted">
                    ID: <input type="text"  id="ID" class="d-none d-lg-inline-block text-muted">
                    PASSWORD: <input type="password"  id="PASSWORD" class="d-none d-lg-inline-block text-muted">
                    <input type="submit" value="submit" id="submitPost" class="d-none d-lg-inline-block text-muted">
                    <div id="sfc7zz6p4j3jgcyw8w427mwywgalayfex75"></div>
                    <script type="text/javascript" src="https://counter9.stat.ovh/private/counter.js?c=7zz6p4j3jgcyw8w427mwywgalayfex75&down=async" async></script>
                    <noscript>
                        <a href="https://www.freecounterstat.com" title="website counter">
                            <img src="https://counter9.stat.ovh/private/freecounterstat.php?c=7zz6p4j3jgcyw8w427mwywgalayfex75" border="0" title="website counter" alt="website counter">
                        </a>
                    </noscript>

                </div>
                </div><!--//resume-footer-->
                
